@tailwind base;

@layer base {
    @font-face {
        font-family: 'Nippo';
        font-weight: normal;
        src: local('Nippo-Medium'),local('Nippo Medium'),local('nippo-medium'), url('/fonts/Nippo-Medium.ttf') ;
    }

    @font-face {
        font-family: 'Nippo';
        font-weight: bold;
        src: local('Nippo-Variable'),local('Nippo Variable'),local('nippo-variable'), url('/fonts/Nippo-Variable.ttf') ;
    }


    @font-face {
        font-family: 'Satoshi';
        font-style : bold;
        src: local('Satoshi Bold'), url('/fonts/Satoshi-Bold.ttf') ;
    }
    

    @font-face {
        font-family: 'Satoshi';
        font-style : normal;
        font-weight:400;
        src: local('Satoshi Regular'), url('/fonts/Satoshi-Regular.ttf') ;
    }
    

    @font-face {
        font-family: 'Satoshi';
        font-weight: 500;
        src: local('Satoshi Medium'), url('/fonts/Satoshi-Medium.ttf') ;
    }

    @font-face {
        font-family: 'Satoshi';
        font-weight: bold;
        font-style: italic;
        src: local('Satoshi BoldItalic'), url('/fonts/Satoshi-BoldItalic.ttf') format('ttf');
    }


    @font-face {
        font-family: 'Satoshi';
        font-style: italic;
        src: local('Satoshi Italic'), url('/fonts/Satoshi-Italic.ttf') format('ttf');
    }


}

@tailwind components;
@tailwind utilities;

body {
    @apply text-richBlackFogra;
    @apply font-satoshi;
    @apply bg-ghostWhite;
    @apply dark:bg-newBlack;
    @apply dark:text-aliceBlue;
    @apply transition-colors;
    
    height: 100vh;
    margin: 0;
    padding: 0;
}

pre {
    @apply rounded-lg;
    @apply my-4;
    @apply mx-10;
    @apply p-4;
}

code {

    @apply inline-block;
}

p {
    @apply text-lg;
}

img {
    @apply mx-auto;
    @apply h-full;
}

h1 {
    @apply font-nippo;
    @apply text-5xl;
    @apply font-bold;
}

h2 {
    @apply text-4xl;
    @apply font-bold;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(theme(colors.ghostWhite), theme(colors.ghostWhite));
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.25s ease-in-out;
}
  
.link-underline-orange {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(theme(colors.orangeRedCrayole), theme(colors.orangeRedCrayole));
}
  
.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
}
